
@{
    ViewBag.Title = "Activate";
}


<br style="clear:both" />
<br style="clear:both" />
<section class="main-section" style="font-family:Arial;margin-top:280px;">
    <div class="container sub-sections" id="option1">
        <br style="clear:both" />
        <br style="clear:both" />

        <b>You've successfully activated your account.<br /> 
        <br />
        Please <a href="@Url.Content("~/Article/Login")" style="color:red">Login</a> to proceed.</b>


    </div>
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
</section>


