
@{
    ViewBag.Title = "Login";
}

 
     
    <script type="text/javascript">
    $(window).on('load', function () {
        $('.log-in-popup').click();
    });

  


  //  window.location.href = "https://www.gdnlife.com";
    </script>
        
    


 
<br style="clear:both" />
<br style="clear:both" />
<section class="main-section" style="font-family:Arial;margin-top:280px;">
    <div class="container sub-sections" id="option1">
        <br style="clear:both" />
        <br style="clear:both" />
        <br style="clear:both" />
        <br style="clear:both" />

        <b>You've to Register / Login to proceed. </b>



    </div>
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
</section>
