
@{
                /**/

                ViewBag.Title = "Password Reset";
}

@*<meta http-equiv="refresh" content="5;url=@Url.Content("~/Article/Login")" />*@
<section class="main-section" style="font-family:Arial;margin-top:280px;">
    <div class="container sub-sections" id="option1">
        <br style="clear:both" />
        <h4>Password reset</h4>
        <br style="clear:both" />
        @if (ViewBag.Message == null)
        {
            <form method="post" onsubmit="return validate()">
                <div class="col-md-4">
                    Enter New Password<br />
                    <input type="password" id="password" name="password" class="form-control" required pattern=".{5,10}" title="5 to 10 characters" />
                </div>
                <br style="clear:both" />
                <br style="clear:both" />
                <div class="col-md-4">
                    Re-Enter New Password<br />
                    <input type="password" id="confirm_password" class="form-control" required />
                </div>
                <br style="clear:both" />
                <input type="hidden" name="guid" value="@ViewBag.guid" />
                <br style="clear:both" />
                <div class="col-md-4"><input type="submit" class="btn btn-danger" value="Submit" /></div>
            </form>
        }
        else
        {
            <p style="color:red">@ViewBag.Message &nbsp;
                <a class="btn log-in-popup" href="#log-in-popup" onclick="showForm(1)" style="background-color:#de1a22; color:#fff;">Log In</a></p>
        }
    </div>

    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
</section>

<script>
    function validate() {
        if ($("#password").val() != $("#confirm_password").val()) {
            alert('Password Mismatch');

            return false;
        }
    }
</script>