
@{
    ViewBag.Title = "RegSuccess";
}

<br style="clear:both" />
<br style="clear:both" />
<section class="main-section" style="font-family:Arial;margin-top:280px;">
    <div class="container sub-sections" id="option1">
        <br style="clear:both" />
        <br style="clear:both" />
        <div class="jumbotron" style="color:black;">
            <h3>You've successfully registered.</h3> <br />

            <p style="color:black;">Please check your email  and click activate, then login and post articles.</p>

            <p style="color:black;">[If not received in Inbox, please also check Junk folder.]</p>
        </div>
        
        

    </div>
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />     <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
    <br style="clear:both" />
</section>


