
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResendActivationMail</title>
</head>
<body>
    <div> 
        Mail has been send to @ViewBag.Email
    </div>
</body>
</html>
