@{
    ViewBag.Title = "About";
}

<!-- block-wrapper-section
        ================================================== -->
<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <!-- block content -->
                <div class="block-content">

                    <!-- contact info box -->
                    <div class="contact-info-box">
                        <div class="title-section">
                                <h1><span>About GDN Life and Style Us</span></h1>
                            </div>

                        <p>
                            GDNonline.com is the GCC's most dynamic digital news source providing a selected mix of local, 
                            regional and international news and features to a readership across the Gulf countries and internationally. </p>
                            <p>The website offers compelling and extensive content which includes local and regional input from The Gulf Daily News, the region's oldest daily newspaper.

                            GDNonline provides the paper's readers with an extensive online edition adapted to be accessed on all available technological platforms.
                        </p>

                    </div>
                    <!-- End contact info box -->
                </div>
                <!-- End block content -->

            </div>

            <div class="col-sm-4">

                <!-- sidebar -->
                <div class="sidebar">
                    <div class="widget features-slide-widget">

                        <img src=@Url.Content("~/images/upload/news-posts/gdn.jpg") alt="">
                    </div>

                    <div class="widget social-widget">
                        <div class="title-section">
                            <h1><span>Stay Connected</span></h1>
                        </div>
                        <ul class="social-share">
                            <li>
                                <a href="#" class="rss"><i class="fa fa-rss"></i></a>
                                <span class="number">9,455</span>
                                <span>Subscribers</span>
                            </li>
                            <li>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <span class="number">56,743</span>
                                <span>Fans</span>
                            </li>
                            <li>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <span class="number">43,501</span>
                                <span>Followers</span>
                            </li>
                            <li>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                <span class="number">35,003</span>
                                <span>Followers</span>
                            </li>
                        </ul>
                    </div>





                    <div class="widget features-slide-widget">

                        <img src=@Url.Content("~/images/upload/news-posts/abc.jpg") alt="">
                    </div>


                </div>
                <!-- End sidebar -->

            </div>

        </div>

    </div>
</section>
<!-- End block-wrapper-section -->