
@{
    ViewBag.Title = "UserProfile";
}


<!-- block-wrapper-section
    ================================================== -->
<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <!-- block content -->
                <div class="block-content">

                    <!-- grid box -->
                    <div class="grid-box">
                        <div class="title-section">
                            <h1><span>Author Details</span></h1>
                        </div>

                        <ul class="autor-list">

                            <li>

                                <div class="autor-box" style="background-color:#ffffff;">

                                    <img src=@Url.Content("~/images/upload/users/avatar7.jpg") alt="">

                                    <div class="autor-content">

                                        <div class="autor-title">
                                            <h1><span>Jane Smith</span><a href="autor-details.html">22 Posts</a></h1>
                                            <ul class="autor-social" >
                                                <li><a href="#" class="facebook"><i class="fa fa-facebook" style="font-size:26px;"></i></a></li>
                                                <li><a href="#" class="google"><i class="fa fa-google-plus" style="font-size:26px;"></i></a></li>
                                                <li><a href="#" class="twitter"><i class="fa fa-twitter" style="font-size:26px;"></i></a></li>
                                                <li><a href="#" class="youtube"><i class="fa fa-youtube" style="font-size:26px;"></i></a></li>
                                                <li><a href="#" class="instagram"><i class="fa fa-instagram" style="font-size:26px;"></i></a></li>
                                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin" style="font-size:26px;"></i></a></li>
                                                <li><a href="#" class="dribble"><i class="fa fa-dribbble" style="font-size:26px;"></i></a></li>
                                            </ul>
                                        </div>

                                        <p>
                                            Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada.
                                        </p>

                                    </div>

                                </div>

                                <div class="autor-last-line">
                                    <ul class="autor-tags">
                                        <li><span><i class="fa fa-bars"></i>Category</span></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Fashion</a></li>
                                        <li><a href="#">Politics</a></li>
                                        <li><a href="#">Sport</a></li>
                                    </ul>
                                    <a href="#" class="autor-site">http://www.janesmith.com</a>
                                </div>

                            </li>

                        </ul>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/upload/news-posts/im7.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post fashion" href="fashion.html">fashion</a>
                                                <h2><a href="single-post.html">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p>*@
                                        <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/upload/news-posts/im8.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post world" href="world.html">Business</a>
                                                <h2><a href="single-post.html">Suspendisse urna nibh, viverra non, semper suscipit, posuere a.</a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. <a href="#">Nullam mollis.</a> Ut justo. Suspendisse potenti.</p>*@
                                        <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/upload/news-posts/im9.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post tech" href="tech.html">tech</a>
                                                <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum. </a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.</p>*@
                                        <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/upload/news-posts/im9.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post tech" href="tech.html">tech</a>
                                                <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum. </a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.</p>*@
                                        <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/upload/news-posts/im10.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post sport" href="sport.html">sport</a>
                                                <h2><a href="single-post.html">Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p>*@
                                        <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-post image-post2">
                                    <div class="post-gallery">
                                        <img src=@Url.Content("~/images/upload/news-posts/im7.jpg") alt="">
                                        <div class="hover-box">
                                            <div class="inner-hover">
                                                <a class="category-post fashion" href="fashion.html">fashion</a>
                                                <h2><a href="single-post.html">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</a></h2>
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p>*@
                                        <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- article box -->
                        <div class="article-box">

                            <div class="title-section">
                                <h1><span>Latest Articles</span></h1>
                            </div>

                            <div class="news-post article-post">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="post-gallery">
                                            <img alt="" src=@Url.Content("~/images/upload/news-posts/art1.jpg")>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="post-content">
                                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                            <ul class="post-tags">
                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                <li><i class="fa fa-eye"></i>872</li>
                                            </ul>
                                            <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                                            <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="news-post article-post">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="post-gallery">
                                            <img alt="" src=@Url.Content("~/images/upload/news-posts/art2.jpg")>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="post-content">
                                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                            <ul class="post-tags">
                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                <li><i class="fa fa-eye"></i>872</li>
                                            </ul>
                                            <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                                            <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="news-post article-post">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="post-gallery">
                                            <img alt="" src=@Url.Content("~/images/upload/news-posts/art3.jpg")>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="post-content">
                                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                            <ul class="post-tags">
                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                <li><i class="fa fa-eye"></i>872</li>
                                            </ul>
                                            <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                                            <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="news-post article-post">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="post-gallery">
                                            <img alt="" src=@Url.Content("~/images/upload/news-posts/art4.jpg")>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="post-content">
                                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                            <ul class="post-tags">
                                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                                <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                                <li><i class="fa fa-eye"></i>872</li>
                                            </ul>
                                            <p>Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                                            <a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End article box -->
                        <!-- pagination box -->
                        <div class="pagination-box">
                            <ul class="pagination-list">
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                            <p>Page 1 of 9</p>
                        </div>
                        <!-- End Pagination box -->

                        <div class="center-button">
                            <a href="#"><i class="fa fa-refresh"></i> Show me more</a>
                        </div>

                    </div>
                    <!-- End grid box -->

                </div>
                <!-- End block content -->

            </div>



            @Html.Partial("_SidebarUser")

        </div>

    </div>
</section>
<!-- End block-wrapper-section -->
